
*{margin: 0; padding: 0; box-sizing: border-box;}


header{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	padding: 9px 0;
	text-align: center;
	background: #06a2af;
	
}

.center{
	
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	
	
	



}	

.conteudo{
	height: 2000px;
	margin-block-start: 200px;
	
	border-color: rgba(6, 162, 175, 0.32);
	
	background-color: #fff;
	
	
}




a{
text-decoration: none;
color: white;
size: 10px;
    padding: 12px;
    font-size: 25px;
    font-family: sans-serif;

}

h2 {
	text-align: center;
	color: grey;
	
}
	
.box {
	
	    padding: 32px;
	width: 400px;
	height: 400px;
	background: #fff;
	border: solid;
	border-color: #0049d31f; 
	
	background-color: #f2f2f2;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	
}

table{
	
	text-align: center;
	margin: 20px;
}
.informacao{
	text-align: center;
	margin: 30px;
}

p{
	margin: 30px
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell{
	text-align: center;
	margin: 60px;
}

.divList {
	border-radius: 5px;
	background-color: #f2f2f2;
}

.divForm {
	border-radius: 5px;
}

.ui-datatable-tablewrapper {
      
   		 margin-inline-end: -350px;
}
 
.ui-grid {
	
	    background-color: azure;
    clear: both;
    padding: 0;
    margin: 0;
}